:root {
  --main-brand-color: #00628f;
  --button-yellow-color: #e0a800;
}
.bg-main-brand {
  background-color: var(--main-brand-color);
}
a.nav-link {
  color: var(--main-brand-color) !important;
  font-weight: bold;
}
.bg-header {
  background-color: #BFD7ED;
}
.bg-brand-01 {
  background-color: #68BBE3; 
}
.bg-brand-02 {
  background-color: #0E86D4;
}
.bg-brand-03 {
  background-color: #055C9D;
}
.bg-brand-04 {
  background-color: #003060;
}
.text-main {
  color: var(--main-brand-color);
}
.text-second {
  color: #0E86D4;
}

.btn-green {
  color: #fff;
  background-color: var(--main-brand-color);
  border-color: var(--main-brand-color);
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  border-radius: .25rem;
  line-height: 1.5;
  cursor: pointer;
  padding: .375rem .75rem;
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-green:hover {
  color: #fff;
  background-color: #0E86D4;
  border-color: #0E86D4;
}

.btn-yellow {
  color: #212529;
  background-color: var(--button-yellow-color);
  border-color: var(--button-yellow-color);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: .25rem;
  line-height: 1.5;
  cursor: pointer;
  padding: .375rem .75rem;
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-yellow:hover {
  color: #212529;
  background-color: #d39e00;
  border-color: #d39e00;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
.bg-navbar{
  background: #0E86D4;
}
.nav-link{
  color: white !important
}
.drink{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks{
  background: rgb(252, 223, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  border-radius: 10px;
  height: 100px;
}
.ordercode{
  border: black 2px solid;
  width: 100px;
  height: 30px;
  margin-left: 50px;
}
#div-container{
  padding: 70px 0 50px 0;
}
.text-second{
  font-style: italic;
}
.type-card{
  width: 18rem;
}
.drink-label{
  font-weight: 700;
  font-size: 36px;
}
.drink-select{
  width: 50%;
  height: 40px;
  color: white;
  background-color: #0f6ba8;
  border: 2px solid #0f6ba8;
  border-radius: 10px;
}
#div-container-order{
  display: none;
}
.form-contact{
  width: 80%;
}
#div-contact{
  display: flex;
  justify-content: center;
}
